:root {
  --primary: #385a65;
  --accent: #fd725c;
  --light: #e8eef2;
  --dark: #333333;
}

/* Initializing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pm;
}

/* Importing poppins fonts */
@font-face {
  font-family: pm;
  src: url(../fonts/poppins-medium.ttf);
}
@font-face {
  font-family: pb;
  src: url(../fonts/poppins-bold.ttf);
}
@font-face {
  font-family: peb;
  src: url(../fonts/poppins-extrabold.ttf);
}

body {
  background-color: var(--light) !important;
  height: 100%;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-toggler {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

nav {
  border: 2px var(--primary) solid;
  border-top: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--light);
}

#login-btn {
  border-radius: 7px;
  color: var(--light);
  background-color: var(--accent);
  border: none;
  font-family: pb;
}

#login-btn:hover{
  background-color: #e96855;
}

.active {
  color: var(--accent) !important;
}

nav ul li a {
  font-family: pb !important;
  color: var(--primary) !important;
}

nav ul li a:hover {
  color: var(--accent) !important;
}

nav i{
  color: var(--primary);
}

#logo{
  user-select: none;
  color: var(--primary);
  transition: all 0.1s ease;
}

#logo:hover{
  color: var(--accent);
  transition: all 0.1s ease;
}