:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --secondary-text: #555555;
  --border-color: #dddddd;
  --button-bg: #333333;
  --button-text: #ffffff;
}

.dark-mode {
  --bg-color: #111111;
  --text-color: #ffffff;
  --secondary-text: #bbbbbb;
  --border-color: #333333;
  --button-bg: #eeeeee;
  --button-text: #111111;
}

/* Initializing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pm;
}

/* Importing poppins fonts */
@font-face {
  font-family: pm;
  src: url(../fonts/poppins-medium.ttf);
}
@font-face {
  font-family: pb;
  src: url(../fonts/poppins-bold.ttf);
}
@font-face {
  font-family: peb;
  src: url(../fonts/poppins-extrabold.ttf);
}
